build
vendor
tests/TestSupport/temp
tests/temp/
composer.lock
.env
.phpunit.result.cache
.php-cs-fixer.cache
phpstan.neon
tests/Support/temp/
.env.testing
phpunit.xml
*~
*.*~
*.swp
*.swo
tests/output
