parameters:
	ignoreErrors:
		-
			message: "#^Method Typedin\\\\LaravelCalendly\\\\Http\\\\Controllers\\\\CalendlyInviteeNoShowsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\JsonResponse but returns Illuminate\\\\Http\\\\Response\\.$#"
			count: 1
			path: src/Http/Controllers/CalendlyInviteeNoShowsController.php

		-
			message: "#^Method Typedin\\\\LaravelCalendly\\\\Http\\\\Controllers\\\\CalendlyOrganizationInvitationsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\JsonResponse but returns Illuminate\\\\Http\\\\Response\\.$#"
			count: 1
			path: src/Http/Controllers/CalendlyOrganizationInvitationsController.php

		-
			message: "#^Method Typedin\\\\LaravelCalendly\\\\Http\\\\Controllers\\\\CalendlyOrganizationMembershipsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\JsonResponse but returns Illuminate\\\\Http\\\\Response\\.$#"
			count: 1
			path: src/Http/Controllers/CalendlyOrganizationMembershipsController.php

		-
			message: "#^Method Typedin\\\\LaravelCalendly\\\\Http\\\\Controllers\\\\CalendlyWebhookSubscriptionsController\\:\\:destroy\\(\\) should return Illuminate\\\\Http\\\\JsonResponse but returns Illuminate\\\\Http\\\\Response\\.$#"
			count: 1
			path: src/Http/Controllers/CalendlyWebhookSubscriptionsController.php

		-
			message: "#^Offset 'details' does not exist on array\\<int, mixed\\>\\.$#"
			count: 4
			path: src/Services/ErrorResponseFactory.php

		-
			message: "#^Offset 'message' does not exist on array\\<int, mixed\\>\\.$#"
			count: 5
			path: src/Services/ErrorResponseFactory.php

		-
			message: "#^Offset 'title' does not exist on array\\<int, mixed\\>\\.$#"
			count: 5
			path: src/Services/ErrorResponseFactory.php

		-
			message: "#^Offset 'properties' does not exist on array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Supports/Configuration/BaseErrorResponseGeneratorProvider.php

		-
			message: "#^Offset 'required' does not exist on array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Supports/Configuration/BaseErrorResponseGeneratorProvider.php

		-
			message: "#^Offset 'properties' does not exist on array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Supports/Configuration/ErrorResponseGeneratorProvider.php

		-
			message: "#^Offset 'get' does not exist on array\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Supports/ControllerGenerator.php
